* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand: #002df7;
    --page-color: #FFFEFB;
    --card-color: white;
    --secondary: #151515;
    --text-primary: #1C1C1C;
    --text-secondary: #595959;
    --text-inverse: #F0F0F0;
    --accent: #c3c3c3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--page-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.navbar {
    background-color: var(--secondary);
    padding: 24px 0 23px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.navbar-links, a {
    list-style: none;
    text-decoration: none;
    color: var(--text-inverse);
}

.navbar-links a {
    padding: 24px;
}

.navbar-links a:hover {
    background-color: var(--brand);
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.hero {
    background-color: var(--brand);
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: var(--text-inverse);
}

.hero img {
    border-radius: 16px;
    border: 1px solid var(--accent);
    box-shadow: 0 8px 24px black; 
}

.contents h2 {
    text-align: center;
    padding: 32px;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.project-card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px var(--accent);
    cursor: pointer;
}

.project-card:hover {
    scale: 1.1;
}

.card-contents {
    padding: 16px;
}

h3 {
    margin: 8px 0;
}

p {
    line-height: 1.5;
}

.project-card {
    width: 300px;
    background-color: var(--card-color);

}

footer {
    background-color: var(--secondary);
    color: var(--text-inverse);
    text-align: center;
    padding: 24px;
}

.footer-contents {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 8px;
}

